section {
  width: 100%;
}

.what-we-do {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--platinum);
}

.what-we-do-txt {
  max-width: 70ch;
  padding: 4em 3em;
  font-size: larger;
  font-weight: bold;
  color: var(--xanadu-grey);
}

.what-we-do-vid {
  display: flex;
  justify-content: center;
  align-items: center ;
  min-width: 30%;
  max-width: 50%;
  padding: 1em;
  border-radius: 5px;
}

iframe {
  border-radius: 10px;
}

span {
  color: rgb(255, 255, 255, .8);
  z-index: 1000;
}